:root {
  --primary: #f1f1f1;
  --second: #562322;
}

*, 
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'Public Sans', sans-serif;
  background-color: #a3a3a3;
}

/* ! Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(241, 241, 241,0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
}

nav .logo {
  display: flex;
  font-size: 1rem;
  margin-left: 4rem;
  align-items: center;
}
nav .logo img {
  width: 30px;
  border-radius: 50%;
  margin-right: 6px;
}
nav .list {
  margin: auto 4rem;
}

nav .list a {
  margin-right: 1.7rem;
  color: black;
  font-size: 1.1rem;
}

nav .list a:hover {
  border-bottom: 1px solid var(--second);
}

/* ! Hero Section */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.9)), url('../img/bg-hero.jpg');
  background-size: cover;
}

.hero .me {
  padding: 0 9%;
  color: white;
}

.hero .me h1 {
  font-size: 3rem;
  padding-bottom: 0.4rem;
}

.hero .me p {
  max-width: 87%;
  font-size: 1.2rem;
  font-weight: 100;
  padding-bottom: 1rem;
}

.hero button {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--second);
}
.hero button a {
  color: rgb(221, 221, 221);
}

.hero button:hover {
  background-color: rgb(63, 40, 40);
}

/* ! Tentang Kami */
.about {
  background-color: #d8d8d8;
}
.about .about-title h1,
.kelas .kelas-title {
  text-align: center;
  padding: 6rem 0;
  font-size: 2rem;
}
.about .img-bg {
  margin-top: 6rem;
  width: 100%;
  height: 10rem;
}

.about .about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
}
.about .about-content img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 3rem;
}

.about .about-content p {
  font-weight: 300;
  font-size: 1.3rem;
  max-width: 50rem;
  text-align: justify;
}

/* ! Kelas D */
.kelas {
  background-image: url(../img/circle-scatter.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.kelas .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.kelas .row .row-item img {
  height: 18rem;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.kelas .row .row-item {
  width: 18rem;
  border-radius: 10px;
  background-color: #8d6160;
  box-shadow: -5px -5px 4px #8d616048;
  color: #e4e0e0;
  overflow: hidden;
}

.kelas .row .row-item .info {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.kelas .row .row-item .info p {
  margin: auto 1rem;
  font-size: 1.1rem;
  font-weight: 400;
}
.kelas .row .row-item .info a {
  margin: auto 1rem;
  color: #e4e0e0;
}
.kelas .row .row-item .info a:hover {
  color: black;
}



/* ! Responsive Media Query */
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 70.5%;
  }
  nav .list {
    position: absolute;
    top: 0;
    right: -999pc;
  }
  .hero {
    background-position: center;
  }

  .about .about-content {
    flex-wrap: wrap;
    padding: 3rem;
  }
  .about .about-content img {
    margin-bottom: 3rem;
  }

  .kelas {
    background-image: url(../img/circle-scatter-hp.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 480px) {
  nav .logo {
    margin-left: 0.2rem;
  }
}